<ul class="nav">
    <li class="nav-home nav-current"><a href="/">Home</a></li>
    <li class="nav-contact"><a href="mailto:hi@simpleaswater.com" target="_blank">Contact</a></li>
    <li class="nav-about"><a href="/podcasts">Podcast</a></li>
    <li class="nav-about"><a href="https://dappkit.io?ref=saw" target="_blank">Dappkit</a></li>
</ul>