{{!--
This error template is used for all 404 errors, which might occur on your site.
It's a good idea to keep this template as minimal as possible in terms of both file size and complexity.
--}}

{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="site-header">
    {{> site-header}}
</header>

<main id="site-main" class="site-main outer error-content">
    <div class="inner">
        <section class="subscribe-form">
            <h3 class="subscribe-form-title">We're working on this post :)</h3>
            <p class="subscribe-form-description">Get the latest posts delivered right to your inbox</p>
            <form data-members-form="subscribe" action="https://tinyletter.com/simpleaswater" method="post"
                target="popupwindow"
                onsubmit="window.open('https://tinyletter.com/simpleaswater', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
                <div class="form-group">
                    <input class="subscribe-email" name="email" id="tlemail" data-members-email
                        placeholder="youremail@example.com" autocomplete="false" />
                    <button class="button primary" type="submit">
                        <span class="button-content">Subscribe</span>
                        <span class="button-loader">{{> "icons/loader"}}</span>
                    </button>
                </div>
                <div class="message-success">
                    <strong>Great!</strong> Check your inbox and click the link to confirm your subscription.
                </div>
                <div class="message-error">
                    Please enter a valid email address!
                </div>
            </form>
            <br />
            <a class="error-link" href="{{@site.url}}">Go to the front page →</a>
        </section>
        {{!-- <section class="error-message">
            <h1 class="error-code">{{statusCode}}</h1>
            <p class="error-description">{{message}}</p>
            <a class="error-link" href="{{@site.url}}">Go to the front page →</a>
        </section> --}}

        {{#get "posts" limit="3" include="authors,tags"}}
        <div class="post-feed">
            {{#foreach posts}}
            {{> "post-card"}}
            {{/foreach}}
        </div>
        {{/get}}
    </div>
</main>